.scrollArrowBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: #d0d0d0;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollArrowBtn:hover:not(:disabled) {
  background: #e7e7e7;
}

.scrollArrowBtn:active:not(:disabled) {
  transform: translateY(-50%) scale(0.92);
  background: #c7c7c7;
}

.scrollArrowBtn:disabled {
  background: #555 !important;
  cursor:  default !important;
  opacity: .5;
}
